# A Record
  local-data: "{{ ansible_fqdn }}. A {{ ansible_default_ipv4.address }}"
# PTR Record
  local-data-ptr: "{{ ansible_default_ipv4.address }} {{ ansible_fqdn }}."

# A Record
  local-data: "plex4.thedarkarts.za.net. A 192.168.1.33"
# PTR Record
  local-data-ptr: "192.168.1.33 plex4.thedarkarts.za.net."

# A Record
  local-data: "sonarr.thedarkarts.za.net. A 192.168.1.35"
# PTR Record
  local-data-ptr: "192.168.1.35 sonarr.thedarkarts.za.net."

# A Record
  local-data: "radarr.thedarkarts.za.net. A 192.168.1.35"
# PTR Record
  local-data-ptr: "192.168.1.35 radarr.thedarkarts.za.net."

# A Record
  local-data: "deluge.thedarkarts.za.net. A 192.168.1.35"
# PTR Record
  local-data-ptr: "192.168.1.35 deluge.thedarkarts.za.net."

# A Record
  local-data: "jdo.thedarkarts.za.net. A 192.168.1.35"
# PTR Record
  local-data-ptr: "192.168.1.35 jdo.thedarkarts.za.net."

# A Record
  local-data: "munin.thedarkarts.za.net. A 192.168.1.35"
# PTR Record
  local-data-ptr: "192.168.1.35 munin.thedarkarts.za.net."

# A Record
  local-data: "mylar.thedarkarts.za.net. A 192.168.1.35"
# PTR Record
  local-data-ptr: "192.168.1.35 mylar.thedarkarts.za.net."

# A Record
  local-data: "sabnzbd.thedarkarts.za.net. A 192.168.1.35"
# PTR Record
  local-data-ptr: "192.168.1.35 sabnzbd.thedarkarts.za.net."

# A Record
  local-data: "dlm5.thedarkarts.za.net. A 192.168.1.35"
# PTR Record
  local-data-ptr: "192.168.1.35 dlm5.thedarkarts.za.net."

# A Record
  local-data: "plex5.thedarkarts.za.net. A 192.168.1.35"
# PTR Record
  local-data-ptr: "192.168.1.35 plex5.thedarkarts.za.net."

