# A Record
  local-data: "{{ ansible_fqdn }}. A {{ ansible_default_ipv4.address }}"

# PTR Record
  local-data-ptr: "{{ ansible_default_ipv4.address }} {{ ansible_fqdn }}."

# A Record
  local-data: "plex.thedarkarts.za.net. A 192.168.1.33"

# PTR Record
  local-data-ptr: "192.168.1.33 plex.thedarkarts.za.net."

# A Record
  local-data: "sonarr.thedarkarts.za.net. A 192.168.1.33"

# PTR Record
  local-data-ptr: "192.168.1.33 sonarr.thedarkarts.za.net."

# A Record
  local-data: "deluge.thedarkarts.za.net. A 192.168.1.33"

# PTR Record
  local-data-ptr: "192.168.1.33 deluge.thedarkarts.za.net."

# A Record
  local-data: "jdownloader.thedarkarts.za.net. A 192.168.1.33"

# PTR Record
  local-data-ptr: "192.168.1.33 jdownloader.thedarkarts.za.net."

# A Record
  local-data: "munin.thedarkarts.za.net. A 192.168.1.33"

# PTR Record
  local-data-ptr: "192.168.1.33 munin.thedarkarts.za.net."

# A Record
  local-data: "mylar.thedarkarts.za.net. A 192.168.1.33"

# PTR Record
  local-data-ptr: "192.168.1.33 mylar.thedarkarts.za.net."

# A Record
  local-data: "sabnzbd.thedarkarts.za.net. A 192.168.1.33"

# PTR Record
  local-data-ptr: "192.168.1.33 sabnzbd.thedarkarts.za.net."


